<% expense_types = @expenses.map {|x| {id: x.expense_type.id, name: x.expense_type.name}}.uniq %>

<div class="wrapper">
  <h1><%= format_date(@expenses[0].spent_on.month) %> week <%= params[:week].to_i + 1 %> expenses </h1>
  
  <h2>Total: <%= number_to_currency(@expenses.map { |r| r[:amount] }.sum, unit: "£") %></h2>

  <%= expenses_bar(@expenses) %>

  <p>
    <b>Filters</b>: 
    <%= link_to "All", week_expenses_path(year: @expenses.first.spent_on.year, month: @expenses.first.spent_on.month, week: params[:week]) %>

    <% expense_types.each do |expense_type| %>
      | 
      <%= link_to week_expenses_path(year: @expenses.first.spent_on.year, month: @expenses.first.spent_on.month, week: params[:week], expense_type: expense_type[:id]) do %>
        <%= expense_type[:name] %>
      <% end %>
    <% end %>
  </p>
  <% current_spent_on = @expenses.first["spent_on"] + 1 %>
  <% @expenses.each do |expense| %>
    <% if expense["spent_on"] < current_spent_on %>
      <span class="date-tag"><%= expense["spent_on"].strftime("%A") %> <%= ordinalize(expense["spent_on"].day) %></span>
      <% current_spent_on = expense["spent_on"]%>
    <% end %>
    <div class="tile">
      <div class="tile-inner"> 
        <div class="tile-left">
          <div class="expense-icon" style="background:<%= expense.gradient %>;">
            <%= expense.to_s[0, 2] %>
          </div>
          <div class="tile-type">
            <%= expense %>
            <p class="tile-amount"><%= number_to_currency(expense["amount"], unit: "£") %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>